<div class="contemt-wrepper">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-tittle"> Halaman Divisi </h3>
                </div>
                <form method="POST" action="/divisi">
                <div class="card-body">
                    <table class="table table-head-fixed text-nowrap">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let currentDivision of divisions; let i = index">
                            <tr>
                                <td>{{ currentDivision._id }}</td>
                                <td>{{ currentDivision.name }}</td>
                                <td>{{ currentDivision.description }}</td>
                                <td>
                                    <button routerLink="/edit-data-divisi/{{ currentDivision._id }}"> Edit </button>
                                    <button class="" onclick="return confirm('yakin akan menghapus data?')">Hapus</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button routerLink="/tambah-data-divisi/{{ currentDivision._id }}"> Tambah Data </button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>