<div class="contemt-wrepper">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-tittle"> Edit </h3>
                </div>
                <form method="POST" action="/edit-data-divisi">
                @method('put')
                @csrf
                <div class="card-body">
                    <table class="table table-head-fixed text-nowrap">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let currentDivision of divisions; let i = index">
                            <tr>
                                <td>{{ currentDivision._id }}</td>
                                <td>{{ currentDivision.name }}</td>
                                <td>{{ currentDivision.description }}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>